<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <container id="grid">
        <%- include("../partials/nav.ejs") %>  
        <%- include("../partials/report.ejs") %>  
        <%- include("../partials/notification.ejs") %> 
        <%- include("../partials/footer.ejs") %>
    </container>
    
</body>
</html>